version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    environment:
      - CLIENT_URL=http://localhost:5173
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_TARGET=http://server:5000
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
